<div>
  <h4>{{data.title}} Employee</h4>
  <p class="help-block">{{data.subtitle}} the following details to {{data.title | lowercase}} Employee details.</p>
  <form role="form">
    <div class='row'>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="firstName">First Name :</label>
          <input type="text" ng-model="data.employee.personalDetails.name.first" class="form-control" id="firstName" placeholder="Enter First Name" required data-placement="right" title="First Name is required">
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="lastName">Last Name :</label>
          <input type="text" ng-model="data.employee.personalDetails.name.last" class="form-control" id="lastName" placeholder="Enter Last Name" required data-placement="right" title="Last Name is required">
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="phone">Phone Number :</label>
          <input type="text" ng-model="data.employee.phone" class="form-control" id="phone" placeholder="Enter Phone Number" required data-placement="right" title="Enter Phone Number">
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="gender">Gender :</label>
          <br>
          <label class="radio-inline">
            <input type="radio" ng-model="data.employee.personalDetails.gender" value="Male"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="data.employee.personalDetails.gender" value="Female"> Female
          </label>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="personalemail">Personal Email :</label>
          <input type="email" ng-model="data.employee.email.personal" class="form-control" id="personalemail" placeholder="Enter Personal Email" required data-placement="right" title="Enter Personal Email">
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="workemail">Work Email :</label>
          <input type="email" ng-model="data.employee.email.work" class="form-control" id="workemail" placeholder="Enter Work Email" required data-placement="right" title="Enter Work Email">
        </div>
      </div>
    </div>
    <div class='row'>
      <h5>Current Employment</h5>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="jobCategory">JobCategory :</label>
          <br>
          <label class="radio-inline">
            <input type="radio" ng-model="data.employee.currentEmploymentInfo.jobCategory" value="Consultant"> Consultant
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="data.employee.currentEmploymentInfo.jobCategory" value="FullTime"> FullTime
          </label>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="designation">Designation :</label>
          <input type="text" ng-model="data.employee.currentEmploymentInfo.designation" class="form-control" id="designation" placeholder="Enter Designation" required data-placement="right" title="Enter Designation">
        </div>
      </div>
    </div>
    <div class='row'>
      <h5>Latest Educational Qualifications</h5>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="degree">Degree :</label>
          <input type="text" ng-model="data.employee.qualification.degree" class="form-control" id="degree" placeholder="Enter Degree" required data-placement="right" title="Enter Degree">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="institution">Institution :</label>
          <input type="text" ng-model="data.employee.qualification.institution" class="form-control" id="institution" placeholder="Enter Institution" required data-placement="right" title="Enter Institution">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="finalScore">Final Score :</label>
          <input type="number" ng-model="data.employee.qualification.finalScore" class="form-control" id="finalScore" placeholder="Enter FinalScore" required data-placement="right" title="Enter FinalScore">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" ng-click='data.submit(data.employee)'>Submit</button>
    <br/>
  </form>
</div>
<script type="text/javascript" src="js/utils.js"></script>
