<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel='stylesheet' , href='../../css/bootstrap.css'></link>
  <link rel='stylesheet' , href='app.css'></link>
</head>

<body ng-app='hrmsplus' ng-controller='AppController'>
  <div class='container'>
    <div class="row">
      <div class="col-md-1"></div>
      <div class='col-md-10'>
        <div class='center'>
          <strong>{{appName}}</strong>
        </div>
        <h5>$http Service</h5>
        <div class='well'>
          <ol>
            <li>$http for XMLHttpRequest</li>
            <li>
              HTTP Methods
              <ol>
                <li>$http.get</li>
                <li>$http.head</li>
                <li>$http.post</li>
                <li>$http.put</li>
                <li>$http.delete</li>
                <li>$http.jsonp</li>
                <li>$http.patch</li>
              </ol>
            </li>
            <li>
              GET call
              <div class='row'>
                <div class="col-md-3">
                  <button class="btn btn-success btn-xs pull-right" ng-click="httpService.get('success')">Call server with SUCCESS</button>
                  <br>
                  <br>
                  <button class="btn btn-danger btn-xs pull-right" ng-click="httpService.get('failure')">Call server with ERROR</button>
                </div>
                <div class="col-md-9">
                  <textarea class="form-control" rows="3">{{httpServiceData.getResult}}</textarea>
                </div>
              </div>
            </li>
            <li>
              POST call
              <br>
              <div class='pull-right'>Post Data : {{httpServiceData.postData}}</div>
              <div class='row'>
                <div class="col-md-3">
                  <button class="btn btn-success btn-xs pull-right" ng-click="httpService.post('success', httpServiceData.postData)">Call server with SUCCESS</button>
                  <br>
                  <br>
                  <button class="btn btn-danger btn-xs pull-right" ng-click="httpService.post('failure', httpServiceData.postData)">Call server with ERROR</button>
                </div>
                <div class="col-md-9">
                  <textarea class="form-control" rows="3">{{httpServiceData.postResult}}</textarea>
                </div>
              </div>
            </li>
            <!-- <li>
              PUT call
              <br>
              <div class='pull-right'>PUT Data : {{httpServiceData.putData}}</div>
              <div class='row'>
                <div class="col-md-3">
                  <button class="btn btn-success btn-xs pull-right" ng-click="httpService.put('success', httpServiceData.putData)">Call server with SUCCESS</button>
                  <br>
                  <br>
                  <button class="btn btn-danger btn-xs pull-right" ng-click="httpService.put('failure', httpServiceData.putData)">Call server with ERROR</button>
                </div>
                <div class="col-md-9">
                  <textarea class="form-control" rows="3">{{httpServiceData.putResult}}</textarea>
                </div>
              </div>
            </li> -->
            <!-- <li>
              DELETE call
              <div class='row'>
                <div class="col-md-3">
                  <button class="btn btn-success btn-xs pull-right" ng-click="httpService.delete('success')">Call server with SUCCESS</button>
                  <br>
                  <br>
                  <button class="btn btn-danger btn-xs pull-right" ng-click="httpService.delete('failure')">Call server with ERROR</button>
                </div>
                <div class="col-md-9">
                  <textarea class="form-control" rows="3">{{httpServiceData.deleteResult}}</textarea>
                </div>
              </div>
            </li> -->
          </ol>
        </div>
        <!-- <h5>$q Service</h5>
        <div class='well'>
        </div> -->
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src='../../js/jquery-1.11.2.js'></script>
  <script src='../../js/bootstrap.js'></script>
  <script src='../../js/angular.js'></script>
  <script src='../../js/lodash.js'></script>
  <script src='../../js/d3.js'></script>
  <script src='app.js'></script>
</body>

</html>
