<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel='stylesheet' , href='../../css/bootstrap.css'></link>
  <link rel='stylesheet' , href='app.css'></link>
</head>

<body ng-app='hrmsplus' ng-controller='AppController'>
  <div class='container'>
    <div class="row">
      <div class="col-md-1"></div>
      <div class='col-md-10'>
        <div class='center'>
          <strong>{{appName}}</strong>
        </div>
        <h5>$http Service</h5>
        <div class='well'>
          <ol>
            <li>$http for XMLHttpRequest</li>
            <li>
              HTTP Methods
              <ol>
                <li>$http.get</li>
                <li>$http.head</li>
                <li>$http.post</li>
                <li>$http.put</li>
                <li>$http.delete</li>
                <li>$http.jsonp</li>
                <li>$http.patch</li>
              </ol>
            </li>
            <li>
              <h3>Simple GET call</h3>
              <button ng-click="get(true)">Call server with SUCCESS</button>
              <button ng-click="get(false)">Call server with ERROR</button>
              <textarea class="logTextArea">{{httpServiceData.simpleGetCallResult}}</textarea>
            </li>
          </ol>
        </div>
        <h5>$q Service</h5>
        <div class='well'>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src='../../js/jquery-1.11.2.js'></script>
  <script src='../../js/bootstrap.js'></script>
  <script src='../../js/angular.js'></script>
  <script src='../../js/lodash.js'></script>
  <script src='../../js/d3.js'></script>
  <script src='app.js'></script>
</body>

</html>
