<div>
  <h4>Queries</h4>
  <a class='btn btn-primary pull-right' href='#/query/add'>Add Query</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='query in data.queries' ng-click='queryDetails(query.id)'>
        <th scope="row">{{query.id}}</th>
        <td>{{query.type}}</td>
        <td>{{query.title}}</td>
        <td>
          <a class='btn btn-warning btn-sm' href='#/query/{{query.id}}/edit/'>
            <i class='glyphicon glyphicon-edit'></i>
          </a>
          <a class='btn btn-danger btn-sm' ng-click='remove(query.id, $event)'>
            <i class='glyphicon glyphicon-trash'></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
