<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF8">
	    <link rel='stylesheet', href='../../css/bootstrap.css'></link>
      <link rel='stylesheet', href='../../css/common.css'></link>
	    <link rel='stylesheet', href='app.css'></link>
	</head>
	<body ng-app='app'>
      <div class = "header row">
        <div class='col-lg-3'>
          <img src="../../images/logo.png">
        </div>
        <div class='col-lg-7 heading' >
          <h1>Angular Js Training Application</h1>
        </div>      
        <div class='col-lg-2'>
        </div>  

    </div>

    	<div class="row">
    		<div class="col-lg-2"></div>
    		<div class="col-lg-8">

    			<div class='center'>
					<strong>Angular Services</strong>
				</div>
				<br>

    		</div>
    		<div class="col-lg-2"></div>
    	</div>

		<div class='row' >
			<div class='col-lg-2'>
			</div>
			<div class='col-lg-8' ng-controller='AppController'  >
			

				<div class='well' >
					<div>
						<input ng-model='email' placeholder='Type email...' class="form-control" ></input>
						<button class="btn btn-primary" ng-click="save()">Save To Service</button>
						<button class="btn btn-primary" ng-click="get()">Get Value from Service</button>				
					</div>
					<span> {{email}}</span>		
						
				</div>

			</div>
			
			<div class='col-lg-2'>
			</div>			
		</div>

		<div class='row' >
			<div class='col-lg-2'>
			</div>
			<div class='col-lg-8' ng-controller='AppController2'  >
			

				<div class='well' >
					<div>
						<input ng-model='email' placeholder='Type email...' class="form-control" ></input>
						<button class="btn btn-primary" ng-click="save()">Save To Service</button>
						<button class="btn btn-primary" ng-click="get()">Get Value from Service</button>
					</div>
					<span> {{email}}</span>

				</div>

			</div>
			
			<div class='col-lg-2'>
			</div>			
		</div>

		<script src='../../js/jquery-1.11.2.js'></script>
		<script src='../../js/bootstrap.js'></script>
		<script src='../../js/angular.js'></script>
		<script src='../../js/lodash.js'></script>
		<script src='../../js/d3.js'></script>
		<script src='app.js'></script>
	</body>
</html>
