<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <link rel='stylesheet' , href='../../css/bootstrap.css'></link>
  <link rel='stylesheet' , href='app.css'></link>
</head>

<body ng-app='hrmsplus' ng-controller='AppController'>
  <div class='container'>
    <div class="row">
      <div class="col-md-1"></div>
      <div class='col-md-10'>
        <div class='center'>
          <strong>{{appName}}</strong>
        </div>
        <h5>$location Service</h5>
        <div class='well'>
          <ol>
            <li>What is $location?</li>
            <li>It can be configured to work in two modes: <strong>hashbang</strong> mode or <strong>HTML5</strong> mode</li>
            <li>
              HashBand Mode
              <pre>$locationProvider.html5Mode(false).hashPrefix("!");</pre>
            </li>
            <li>
              HTML5 Mode
              <pre>$locationProvider.html5Mode(true).hashPrefix("!");</pre></li>
            <li>
              Example in HashBang Mode:
               <a href="hashbang.html#!/mypath?param1=value1&amp;param2=value2#hashval" target="_blank">Open example</a> 
            </li>
            <li>
              Example in HTML5 Mode:
               <a href="html5.html#!/mypath?param1=value1&amp;param2=value2#hashval" target="_blank">Open example</a> 
            </li>
          </ol>
        </div>
        <h5>$route Service</h5>
        <div class='well'>
          <ol>
          </ol>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src='../../js/jquery-1.11.2.js'></script>
  <script src='../../js/bootstrap.js'></script>
  <script src='../../js/angular.js'></script>
  <script src='../../js/lodash.js'></script>
  <script src='../../js/d3.js'></script>
  <script src='app.js'></script>
</body>

</html>
